target/
*.iml
.idea/
.project
bin/
.classpath
.settings/
jacoco-reports/
jacoco-reports-html/
jacoco-reports-html-merged/
jacoco-reports-merged/
out/
cov/
jacoco-metaData/
jacoco-reports-temp/
config.json
node_modules

src/main/java/com/codecool/dungeoncrawl/agent/memory_system/*
!src/main/java/com/codecool/dungeoncrawl/agent/memory_system/MemoryStream.js

src/main/java/com/codecool/dungeoncrawl/agent/skill_library/*
!src/main/java/com/codecool/dungeoncrawl/agent/skill_library/basic_skills/*
!src/main/java/com/codecool/dungeoncrawl/agent/skill_library/basic_skills_prompts/*
!src/main/java/com/codecool/dungeoncrawl/agent/skill_library/SkillManager.js
!src/main/java/com/codecool/dungeoncrawl/agent/skill_library/skills_import.txt

draft